@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.tweeter {
    width: 100px;
    height: 35px;
    margin: 0 30px;
} 

.bird:hover {
    
    background-color: hsla(203, 89%, 53%, 0.1);
    border-radius: 125px;
}


.navContainer {
    width: 370px;
    padding: 30px;
}


ul, li {
    width: 340px;
    margin: 0 15px;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15px 0;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
}

li img {
    margin-right: 15px;
}

li {
    width: 140px;
}

li:hover {
    height: fit-content;
    color:  rgb(29, 161, 242);
    background-color: hsla(203, 89%, 53%, 0.1);
    border-radius: 25px;

}


.active, .tweeter {
    color: rgb(29, 161, 242);
}



.btn {
    
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px 90px;
    background-color:  rgb(29, 161, 242);
    border: none;
    border-radius: 35px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 28px;
}

